@model EmpMVC.Models.EmpFetchMVC


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="padding:5%;padding-left:20%">
    <h2 style="padding-left: 23%; margin-bottom: 5%; font-family: 'Montserrat'; font-style: normal "><b>Add Employee</b></h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Psno, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Psno, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Ps Number ", @id = "userps", onkeyup = "UserCheck()" } })
            @Html.ValidationMessageFor(model => model.Psno, "", new { @class = "text-danger" })
        </div>
        <span id="spaner"> </span>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Employee_Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Employee_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Employee Name" } })
            @Html.ValidationMessageFor(model => model.Employee_Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new
            {
                htmlAttributes = new
                {
                    @class = "form-control",
           @placeholder = "Enter Email "
                }
            })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Current_skill, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Current_skill, new
            {
                htmlAttributes = new
                {
                    @class = "form-control",
           @placeholder = "Enter Current Skills"
                }
            })
            @Html.ValidationMessageFor(model => model.Current_skill, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Expected_Training, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Expected_Training, new
            {
                htmlAttributes = new
                {
                    @class = "form-control",
           @placeholder = "Enter Expected Training"
                }
            })
            @Html.ValidationMessageFor(model => model.Expected_Training, "", new { @class = "text-danger" })

        </div>
    </div>
    <div style="color:red" class="text-center">
        <h5>@ViewBag.Message</h5>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="padding-left:10%">
            <input type="submit" value="Add Details" class="btn btn-success" />

        </div><br />
        &nbsp;

        <div>
            <label style="margin-left:200px;margin-bottom:110px;font-family:'Segoe UI'">Back to list?</label>

            @Html.ActionLink("Back to List", "Fetch")
        </div>
    </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function UserCheck() {

        $.post("@Url.Action("CheckPSAvailability", "Emp")",
            {
                userdata: $("#userps").val()
            },
        function (data) {
            if (data == 0) {
                $("#spaner").html('<font color="Green">PS Number is available</font>');
                $("#userps").css("border-color", "Green","text-align","center");

            }
            else {
                $("#spaner").html('<font color="Red">PS Number is already Exist</font>');
                $("#userps").css("border-color", "Red");
            }
        });
    }
</script>
