@model EmpMVC.Models.EmpFetchModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h1 style="text-align:center;margin-top:120px"><b>Global Engineering Academy</b></h1>

    <div class="form-horizontal" style="padding:5%;padding-left:30%">


        <h3 style="padding-left: 28%; margin-bottom: 5%; font-family: 'Montserrat'; font-style: normal "><b>Login</b></h3>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your username" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">

                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-left:10%;margin-top:30px;margin-bottom:20px">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </div>
        <div>
            <label style="margin-left:130px;margin-bottom:130px;font-family:'Segoe UI'">Don't have an account?  </label>
            @Html.ActionLink("Create", "Signup")
        </div>
    </div>
    @*<script type="text/javascript">
            window.history.forward();
            function noBack() {
            window.history.forward();
            }
</script>*@
            
 
  
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

